body {
  background-color: #ffe6f2;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: #fff0f7;
  border: 3px solid #ff99cc;
  border-radius: 20px;
  padding: 30px 40px;
  box-shadow: 0px 0px 20px rgba(255, 105, 180, 0.4);
  text-align: center;
  width: 350px;
}

h1 {
  color: #ff4da6;
  margin-bottom: 20px;
  font-size: 28px;
  margin: 10px;
}

.inputs input {
  width: 120px;
  padding: 10px;
  margin: 5px;
  border: 2px solid #ff99cc;
  border-radius: 10px;
  outline: none;
  text-align: center;
  font-size: 16px;
}

.controls {
  margin: 20px 0;
}

select {
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #ff99cc;
  font-size: 16px;
  color: #d63384;
  background-color: #ffe6f2;
  outline: none;
}

button {
  background-color: #ff66b2;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-left: 10px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

button:hover {
  background-color: #ff3385;
  transform: scale(1.05);
}

.resultado {
  margin-top: 15px;
  background-color: #ffd6eb;
  padding: 10px;
  border-radius: 10px;
  color: #b30059;
  font-weight: bold;
  font-size: 18px;
}
