body {
  background: #ffe6f2;
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.calculadora {
  width: 300px;
  background: #e8baea;
  border-radius: 20px;
  padding: 24px;
  text-align: center;
  box-shadow: 0 12px 30px rgba(0,0,0,0.12);
}

h1 {
  color: #090608;
  margin: 0 0 12px 0;
  font-size: 1.25rem;
}

/* pantalla */
#pantalla {
  width: 90%;
  height: 44px;
  font-size: 1.25rem;
  border-radius: 10px;
  border: none;
  padding: 8px 12px;
  text-align: right;
  background: #f7f6f6;
  box-shadow: inset 0 2px 6px rgb(226, 183, 231);
  margin-bottom: 14px;
}

/* teclado en grid 4x4 */
.teclado {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

/* botones */
button {
  background: #c080bdb7;
  color: #0f0a0a;
  border: none;
  border-radius: 10px;
  padding: 12px;
  font-size: 1rem;
  cursor: pointer;
  transition: transform .12s, background .12s;
  box-shadow: 0 6px 12px rgba(255, 175, 247, 0.573);
}

button:hover { transform: translateY(-2px); }

.op { background: #db73c355; }   /* operadores */
.eq { background:#df6cbb55; }   /* igual */
.boton-c { background: #e06bd3d2; width: 100%; margin-top: 12px; padding: 12px; }

/* resultado */
.resultado {
  margin-top: 12px;
  background: #fff;
  border-radius: 10px;
  padding: 10px;
  color: #080808bd;
  box-shadow: inset 0 2px 6px rgba(233, 113, 203, 0.748);
}